
<div class='container_form'>
<td>
  <strong> 
    <h5>Welcome to your User Page!</h5>
      <br>
    <br>User Name:
  </strong>
  <%= current_user.user_name.titleize %>
</td> <br>

<td>
  <strong>
    Email:
  </strong>
    <%= current_user.email.titleize %>
</td><br>

<%= link_to 'Edit', edit_user_path(current_user) %>


<td>
  <h5>Fulfillments: </h5>
  <%= link_to 'My Fulfillments', fulfillment_path %>
  </td>


<td>
  <h5>Products: </h5>
  <% current_user.products.each do |product| %>
  <%= link_to product.name, product_path(product.id) %>
  <% end %>
  </td>


  <h5>Orders: </h5>
  <table>
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col"> </th>
      <th scope="col">Order Status</th>
      <th scope="col">Ordered At</th>
    </tr>
    <tr>
      <% current_user.orders.each do |order| %>
      <td><%= link_to order.id, order_path(order.id) %></td>
      <td></td>
      <td><%= order.status %></td>
      <td><%= order.created_at %></td>
      <% end %>
    </tr> 
  </table>
</div>

