

<td>
  <strong> 
    <h4>Welcome to your User Page!</h4>
    <br>User Name:
  </strong>
  <%= current_user.user_name.titleize %>
</td> <br>

<td>
  <strong>
    Email:
  </strong>
    <%= current_user.email.titleize %>
</td><br>

<%= link_to 'Edit', edit_user_path(current_user) %>


<td>
  <h5>Fulfillments: </h5>
  <%= link_to 'My Fulfillments', fulfillment_path %>
  </td>


<td>
  <h5>Products: </h5>
  <% current_user.products.each do |product| %>
  <%= link_to product.name, product_path(product.id) %>
  <% end %>
  </td>

<td>
  <h5>Orders: </h5>
  <% current_user.orders.each do |order| %>
  <%= link_to order.purchase_id, order_path(order.id) %>
  <% end %>
  </td>


