

<td>
  <strong> 
    Welcome!
   <br> User Name:
  </strong>
  <%= current_user.user_name.titleize %>
</td> <br>

<td>
  <strong>
    Email:
  </strong>
    <%= current_user.email.titleize %>
</td><br>

<h3>Fulfillments: </h3><br>
<%= link_to 'My Fulfillments', fulfillment_path %>


<h3>Products: </h3><br>
<% current_user.products.each do |product| %>
<%= link_to product.name, product_path(product.id) %>
<% end %>

<h3>Orders: </h3><br>
<% current_user.orders.each do |order| %>
<%= link_to order.purchase_id, order_path(order.id) %>
<% end %>

<%= link_to 'Edit', edit_user_path(current_user) %>
