<% @purchase.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>
<br>
<table>
  <thead>
    <tr>
      <th class="visible-header">ID</th>
      <th class="visible-header">Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.first_name %></td>
        <td><%= order.last_name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<a href='/orders/new/'>new</a>