<!--for a single order-->
<p>
  <strong>Shipping Information:</strong>
  <%= @order.first_name %>
  <%= @order.last_name%><br>
  <%= @order.address1%><br>
  <%= @order.address2 %><br>
  <%= @order.city %>, 
  <%= @order.state %>
  <%= @order.zip %><br>

  <%= @order.email_address %>
</p>
<br><br>

<p>
  <strong>Billing Information:</strong>
  <%= @order.billing_first %>
  <%= @order.billing_last %><br>
  <%= @order.billing_address1%><br>
  <%= @order.billing_address2 %><br>
  <%= @order.billing_city %>, 
  <%= @order.billing_state %>
  <%= @order.billing_zip %><br><br>
  **** - **** - **** -
  <%=@order.credit_card_number[-4, 4]%><br>
  <%=@order.cvv%>
</p>

