<h2>Your Cart</h2>
<br>
<% @order.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<table class="cart">
  <thead>
    <tr>
      <th scope="item">Item</th>
      <th scope="qty">Quantity</th>
      <th></th>
      <th></th>
      <th scope="price">Price</th>
      <th scope="sub">Subtotal</th>
    </tr>
  </thead>

  <% subtotal = 0 %>
  <tbody>
    <%@order.products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url, width: 30, height: 30) if product.image.present? %>
          <%= link_to product.name, product %></td>
        <% @order_item = OrderItem.where(product_id: product.id, order_id: @order.id)[0] %>
        <td><%= @order_item.quantity %></td>
        <td><%= form_tag('/orders/add_one_product') do %>
              <%= hidden_field_tag :order_id, @order.id%>
              <%= hidden_field_tag :product_id, product.id %>
              <%= submit_tag '+' %>
          <% end %></td>

        <% if @order_item.quantity == 1 %>
          <td><%= form_tag('/orders/remove_product') do %>
                <%= hidden_field_tag :order_id, @order.id%>
                <%= hidden_field_tag :product_id, product.id %>
                <%= submit_tag '-', data: { confirm: 'This will remove the product from the order! Are you sure that you want to do that?'} %>
            <% end %></td>
        <% else %>
          <td><%= form_tag('/orders/subtract_one_product') do %>
                <%= hidden_field_tag :order_id, @order.id%>
                <%= hidden_field_tag :product_id, product.id %>
                <%= submit_tag '-', data: { confirm: 'Are you sure?'} %>
            <% end %></td>
        <% end %>
        <td><%= price_format(product.price) %></td>
        <% subtotal += product.price * @order_item.quantity %>
        <td><%= price_format(subtotal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Your total: <%= price_format(subtotal) %></h3>
<div class = 'checkout'>
<%= form_tag('/orders/check_order_quantities') do %>
  <%= hidden_field_tag :order_id, @order.id %>
  <%= submit_tag 'Checkout' %>
<% end %>
</div>
