<h2>Your Cart</h2>
<br>
<% @order.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>

<table class="cart">
  <thead>
    <tr>
      <th scope="item">Item</th>
      <th scope="qty">Quantity</th>
      <th scope="price">Price</th>
      <th scope="sub">Subtotal</th>
      <th> Remove? </th>
    </tr>
  </thead>

  <% subtotal = 0 %>
  <tbody>
    <% @order.order_items.each do |order_item| %>
      <tr>
        <td>
          <%= image_tag(order_item.product.image_url, width: 30, height: 30) if order_item.product.image.present? %>
          <%= link_to order_item.product.name, order_item.product %>
        </td>

        <td>
          <%= form_for order_item, :url => {:controller => 'orders', :action => 'update'},  html: {:id => "quantity-form"} do |f| %>
            <div class="field">
              <%= f.hidden_field :order_item_id, :value => order_item.id %>
              <%= f.number_field :quantity, :value => order_item.quantity %>
              <%= f.submit "Update", class: "quantity-action" %>
            </div>
          <% end %>
        </td>


        <td>
          <%= price_format(order_item.product.price) %>
        </td>

        <% subtotal += order_item.product.price * order_item.quantity %>
        <td>
          <%= price_format(subtotal) %>
        </td>

        <td>
          <%= link_to 'Remove', confirm: 'Are you sure?', :url => {:controller => 'orders', :action => 'remove_item'}  %>
        </td>

    </tr>
    <% end %>
  </tbody>
</table>





<h3>Your total: <%= price_format(subtotal) %></h3>
<div class = 'checkout'>
<%= form_tag('/orders/check_order_quantities') do %>
  <%= hidden_field_tag :order_id, @order.id %>
  <%= submit_tag 'Checkout' %>
<% end %>
</div>

