<table>
  <thead>
    <tr>
      <th class="visible-header">Item</th>
      <th class="visible-header">Quantity</th>
      <th class="visible-header">Price</th>
      <th class="visible-header">Subtotal</th>

    </tr>
  </thead>

  <% subtotal = 0 %>
  <% your_products = [] %>
  <% if @order.user_id = session[:order_id] || @order.user_id == @current_user.id %>
    <% @order.products.each { |product| your_products << product } %>
  <% else %>
    <% @order.products.each do |product| %>
      <% if product.user_id == @current_user.id %>
        <% your_products << product %>
      <% end %>
    <% end %>
  <% end %>
  <tbody>
    <% your_products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <td><%= @order_item.quantity %></td>
        <td><%= number_to_currency(product.price/100) %></td>
        <% subtotal += product.price * @order_item.quantity %>
        <td><%= price_format(subtotal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% unless your_products.length == 0 %>
  <h3>Your total: <%= price_format(subtotal) %></h3>
  <h3>Order status: <%= @order.status %></h3>

  <% if @order.status != 'pending' %>
    <% @purchase = Purchase.find(@order.purchase_id) %>
    <h3>Order was placed on <%= @purchase.updated_at %></h3>


    <p>Shipping Name:  
      <%= @purchase.first_name + ' ' + @purchase.last_name%></p>

    <p>Email Address: 
      <%= @purchase.email_address %></p>

    <p>Shipping Address: <br>
      <%= @purchase.address1%> 
      <%= @purchase.address2 %><br>
      <%= @purchase.city %>, 
      <%= @purchase.state %> 
      <%= @purchase.zip %></p>

    <p>Billing Information: <br> 
      **** - **** - **** -
      <%=@purchase.credit_card_number[-4, 4]%><br>
      CVV: <%=@purchase.cvv%><br>
      Expires: <%=@purchase.expiration_date[0]%><%=@purchase.expiration_date[1]%>/<%=@purchase.expiration_date[2]%><%=@purchase.expiration_date[3]%></p>
  <% end %>

<% end %>


