<h2>Your Cart</h2>
<br>

<table>
  <thead>
    <tr>
      <th class="visible-header">Item</th>
      <th class="visible-header">Quantity</th>
      <th></th>
      <th></th>
      <th class="visible-header">Price</th>
      <th class="visible-header">Subtotal</th>
    </tr>
  </thead>

  <% subtotal = 0 %>
  <tbody>
    <%@order.products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product %></td>
        <% @ordy = OrderItem.where(product_id: product.id, order_id: @order.id)[0] %>
        <td><%= @ordy.quantity %></td>
        <td><%= form_tag('/orders/add_one_product') do %>
              <%= hidden_field_tag :order_id, @order.id%>
              <%= hidden_field_tag :product_id, product.id %>
              <%= submit_tag '+' %>
          <% end %></td>
        <td><%= form_tag('/orders/subtract_one_product') do %>
              <%= hidden_field_tag :order_id, @order.id%>
              <%= hidden_field_tag :product_id, product.id %>
              <%= submit_tag '-', data: { confirm: 'Are you sure?'} %>
          <% end %></td>
        <td><%= product.price %></td>
        <td><%= subtotal += product.price * @ordy.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Your total: <%= subtotal %></h3>

<%= form_tag('/purchases/new') do %>
  <%= hidden_field_tag :order_id, @order.id %>
  <%= submit_tag 'Checkout' %>
<% end %>
