<% @order.errors.full_messages.each do |error| %>
  <%= error %><br>
<% end %>
<br>

<%= form_for(@order) do |f| %>

  <%= f.label 'Status'%>
  <%= f.text_field :status%><br>

  <%= f.select(:products, @products, {}, {:multiple => true}) %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
