<p>Revenue From Pending Orders: </p>
<% if merchant_orders = Order.get_merchant_orders(@current_user) %>
  <% merchant_orders = Order.get_merchant_orders(@current_user).delete_if{ |order| order.status != 'pending'} %>
  <%  if merchant_orders.length == 0 %>
    <p> None! </p>
  <% else %>
    <% sum = 0 %>
    <% merchant_orders.each do |order| %>
      <% order.products.each do |product| %>
        <% if product.user_id == @current_user.id %>
          <% order_item = order.set_order_item_and_product(product.id)[1] %>
          <% sum += product.price * order_item.quantity %>
        <% end %>
      <% end %>
    <% end %>
    <%= sum %>
  <% end %>
  <p>Total Pending Fulfillments: </p>
    <%= merchant_orders.length %></p>

    <% merchant_orders.each do |order| %>
      <% @order = order %>
      <br>
      <h4><%= 'Order Id: ' %>
      <%= link_to order.id, order %></h4>
      <% @products_array = order.get_merchant_products(@current_user) %>
      <%= render 'fulfillmentorders' %>
    <% end %>

<% else %>
  <p>You have no pending orders!</p>
<% end %>
