<p class='purchasediv'>It's a box with your purchase information!</p>
<br>
<%= form_tag '/confirmation_page' method::post do%>
  <p>Shipping Address</p>
  <%= label_tag :first_name%>
  <%= label_tag :last_name%>
  <%= label_tag :email_address%>  
  <%= label_tag :confirm_email_address%>
  <br>
  <p>Billing Address</p>
  <%= label_tag :billing_first, "First Name" %>
  <%= label_tag :billing_last, "Last Name" %>
  <%= label_tag :credit_card_number %>
  <%= label_tag :CVV %>
  <%= label_tag :zip_code %> 
  <br>
  <%= submit_tag "Order" %>
<% end %>