 <h3> Category </h3>

<%= form_tag(products_path, method: :get) %>
<% Category.all.each do |category| %>
  <%= label_tag category.category %>
  <%= check_box_tag(:"category_ids[]", category.id) %><br>
  <% end %>
  <br>
<hr color='orange'>
<h3> Sellers </h3>

<% User.seller.each do |seller| %>
  <%= label_tag seller.user_name %>
  <%= check_box_tag(:"seller_ids[]", seller.id) %><br>
<% end %>
 <%= submit_tag 'Filter The Products!' %>