<h2> DEBUG: <%= params.inspect %> </h2>

 <%= form_tag "/products", method: :get do %>
  <%= label_tag :product_name %>
  <%= text_field_tag :product_name, params[:product_name] %>
  <br>

  <%= label_tag :description %>
  <%= text_field_tag :description, params[:description] %>
  <br>

  <%= label_tag :category %>
  <%= text_field_tag :category, params[:category] %>
  <br>

  <%= label_tag :price %>
  <%= number_field_tag :price, params[:price] %>
  <br>

  <%= submit_tag 'create product'%>
    <% end %>