<h1> Check out all the products available here at Scamazon! </h1>

<table>
  <thead>
    <tr>
      <th>Product Name </th>
      <th>Product Description </th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.description %></td>
        <td><%= product.category %></td>
        <td>$ <%= (product.price.to_f/100) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Product', new_product_path %><br><br>
