<h1> Check out all the products available here at Scamazon! </h1>

<div class='sidebar'>
<%= render 'filters' %>
</div>

<div class='product_index'>
  <br>
  <% if params[:seller_ids] %>
    Sellers:
    <% params[:seller_ids].each do |seller_id| %>
      <% user = User.find(seller_id.to_i) %>
      <%= user.user_name %>
    <% end %>
    <br>
  <% end %>
  <% if params[:category_ids] %>
    Categories:
    <% params[:category_ids].each do |category_id| %>
      <% category = Category.find(category_id.to_i) %>
      <%= category.category %>
    <% end %>
  <% end %>
  <br>
  <br>


  <tbody>
    <% @products.each do |product| %>
        <div class='show'>
       <%= image_tag(product.image_url) if product.image.present? %><br>
          <%= link_to product.name, product_path(product.id) %> <br>
          <%= number_to_currency(product.price/100) %><br>
          <% product.categories.each do |category| %>
              <%= category.category %><br>
              <% end %>
          <%= product.description %><br>
        
                </div>
    <% end %>

<br><br>
<% if @current_user.present? %>
<%= link_to 'New Product', new_product_path %><br><br>
<% end %>
</div>