<h1> Check out all the products available here at Scamazon! </h1>

<div class='sidebar'>
<%= render 'filters' %>


</div>



  <tbody>
    <% @products.each do |product| %>
        <div class='show'>
       <%= image_tag(product.image_url) if product.image.present? %><br>
          <%= link_to product.name, product_path(product.id) %> <br>
          <%= product.description %><br>
         <%= number_to_currency(product.price) %><br>
        <% product.categories.each do |category| %>
              <%= category.category %><br>
              <% end %>
                </div>
    <% end %>


<% if @current_user.present? %>
<%= link_to 'New Product', new_product_path %><br><br>
<% end %>