<h1>Product Information</h1>
<% if @product.retired %>
<h2>This Product Is No Longer Available.</h2>
<% end %>

<%= image_tag(@product.image_url, :width => 400) if @product.image.present? %>
<br>
<strong>Product Name</strong>
<p>  <%= @product.name %></p>

  <strong>Product Description</strong>
 <p> <%= @product.description %></p>

  <strong> Product Price </strong>
 <p> $<%= format("%.2f",(@product.price/100.00)) %></p>

 <strong> Category </strong>
 <% @product.categories.each do |category| %>
 <%= category.category %>
 <% end %>
<br>
<br>
 <%= link_to 'Edit Product', edit_product_path %>
<br>

<% if @product.retired == false %>
 <%= submit_tag 'Add To Cart'%>
 <% end %>
<br><br>
<%= link_to 'Back To Products', products_path %>