
 <%= link_to 'Back To Products', products_path %>


  <figure>
  <%= image_tag(@product.image_url, :width => 200) if @product.image.present? %>
  </figure>

<div class='product'>
    <hgroup>
      <h1><%= @product.name %> <h1>
        <br>
      <h1><%= price_format(@product.price) %></h1>
      <br>
      <h4><%= @product.description %></h4>
    </hgroup>
    <br><br>
  <section>
    <details>
      <h7>Product Information</h7>
      <% if @product.retired %>
      <h3>This Product Is No Longer Available.</h3>
      <% end %>
      <summary>Product Details</summary>
          <ul>
          <li>Category:
              <% @product.categories.each do |category| %>
              <%= category.category %>
              <% end %></li><br>
          <li>Stock Quantity
              <%= @product.stock %></li>
          </ul>
        </p>
      </summary>
    </details>

    <p>
      <% if current_user == @product.user %>
      <%= link_to 'Edit Product', edit_product_path %><br>
          <% if @product.retired == false %>
            <%= button_to 'Retire Product', retired_path(@product.id) %>
          <% else %>
            <%= button_to 'Unretire Product', unretired_path(@product.id) %>
          <% end %>
      <% end %>
    <br>
    </p>

    <p>
      <% unless @product.retired || @product.stock == 0 %>
        <%= form_tag('/orders/add_to_cart') do %>
          <%= label_tag :quantity %>
          <%= number_field_tag :quantity %>
          <%= hidden_field_tag :product_id, @product.id %>
          <%= submit_tag 'Add To Cart' %>
        <% end %>
      <% end %>
    </p>

    <br><br>
  </section>
</div>

<div class='submit_review'>
  <strong>Average Rating:</strong><br>
      <%= @product.review_avg %>
      <br>
      <br>
    <% if current_user && current_user.id != @product.user_id %>
    On a scale of "great" to "really great", how do you find this product?
      <%= render '/reviews/form' %>
    <% end %>
</div>

<div class = 'review'>

    <strong>Product Reviews</strong><br>
  <% @product.reviews.each do |r| %>
    <div class='review_show'>
      <strong>User: </strong><%= r.user.try(:user_name) %><br>
      <strong>Rating: </strong><%= r.rating %><br>
      <strong>Review: </strong><%= r.review_text %><br>
      <% if current_user == r.user %>
        <%= link_to 'Delete', review_path(r), method: :delete %>
    </div>
      <% end %>
      <!-- We know the </div> tag should go here but it looks way more awesome stuck in the loop. SO WE'RE LEAVING IT. -->
  <% end %>

</div>
