<div class="sidebar">
  <% if current_user != @product.user %>
    <%= render 'review_form' %>
  <% end %>

  <strong>Product Reviews:</strong>
  <% @product.reviews.each do |r| %>

    <p class="review">
      <strong>User: </strong><%= r.user.try(:user_name) %><br>
      <strong>Rating: </strong><%= r.rating %><br>
      <strong>Review: </strong><%= r.review_text %>
    </p>
  <% end %>

</div>
<div class='container'>

<h1>Product Information</h1>
<% if @product.retired %>
<h2>This Product Is No Longer Available.</h2>
<% end %>


<%= image_tag(@product.image_url, :width => 200) if @product.image.present? %>
<br>
<strong>Product Name</strong>
<p>  <%= @product.name %></p>

  <strong>Product Description</strong>
 <p> <%= @product.description %></p>

  <strong> Product Price </strong>
 <p> <%= @product.price %></p>

 <strong> Category </strong>
 <% @product.categories.each do |category| %>
 <%= category.category %>
 <% end %>
<br>
<strong>Stock Quantity </strong>
<%= @product.stock %>
<br>

<% if current_user == @product.user %>
 <%= link_to 'Edit Product', edit_product_path %><br>

 <%= button_to 'Retire Product', retired_path(@product.id) %>
 <% end %>
<br>

<% unless @product.retired || @product.stock == 0 %>
  <%= form_tag('/orders/add') %>
  <%= label_tag :quantity %>
  <%= number_field_tag :quantity %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag 'Add To Cart' %>
<% end %>

<br><br>
<%= link_to 'Back To Products', products_path %>
</div>
