<div class='product'>

  <figure>  
   <!--  <%= image_tag(@product.image_url, :width => 200) if @product.image.present? %> -->
    <img src="http://lorempixel.com/500/500/technics/7">  
  </figure>  

  <header>
    <hgroup>
      <h1><%= @product.name %> <h1>
      <h1><%= number_to_currency(@product.price/100) %></h1>
      <h4><%= @product.description %></h4>
    </hgroup>
  <header>

  <section>
    <details>
      <h7>Product Information</h7>
      <% if @product.retired %>
      <h2>This Product Is No Longer Available.</h2>
      <% end %>
      <summary>Product Details</summary> 
          <ul>
          <li>Category:
              <% @product.categories.each do |category| %>
              <%= category.category %>
              <% end %></li>
          <li>Stock Quantity 
              <%= @product.stock %></li>
          </ul>
        </p>
      </summary>
    </details>

    <p>
      <% if current_user == @product.user %>
      <%= link_to 'Edit Product', edit_product_path %><br>

      <%= button_to 'Retire Product', retired_path(@product.id) %>
      <% end %>
    <br> 
    </p>

    <p><% unless @product.retired || @product.stock == 0 %>
      <%= form_tag('/orders/add') %>
      <%= label_tag :quantity %>
      <%= number_field_tag :quantity %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= submit_tag 'Add To Cart' %>
    <% end %></p>

    <br><br>
    <%= link_to 'Back To Products', products_path %>
  </section>
</div>

<div class="reviewbar">
  <% if current_user.id != @product.user_id %>
    <%= render 'review_form' %>
  <% end %>

  <strong>Product Reviews</strong><br>
  <strong>Average Rating:</strong>
    <%= @product.review_avg %>

  <% @product.reviews.each do |r| %>

    <p class="review">
      <strong>User: </strong><%= r.user.try(:user_name) %><br>
      <strong>Rating: </strong><%= r.rating %><br>
      <strong>Review: </strong><%= r.review_text %>

      <% if current_user == r.user %>
        <%= link_to 'Delete', review_path(r), method: :delete %>
      <% end %>
    </p>
  <% end %>

</div>
