
<h1>Product Information</h1>
<% if @product.retired %>
<h2>This Product Is No Longer Available.</h2>
<% end %>


<%= image_tag(@product.image_url, :width => 300) if @product.image.present? %>
<br>
<strong>Product Name</strong>
<p>  <%= @product.name %></p>

  <strong>Product Description</strong>
 <p> <%= @product.description %></p>

  <strong> Product Price </strong>
 <p> <%= number_to_currency(@product.price) %></p>

 <strong> Category </strong>
 <% @product.categories.each do |category| %>
 <%= category.category %>
 <% end %>
<br>
<strong>Stock Quantity </strong>
<%= @product.stock %>
<br>
<% if current_user == @product.user %>
 <%= link_to 'Edit Product', edit_product_path %><br>

 <%= button_to 'Retire Product', retired_path(@product.id) %>
 <% end %>
<br>

<% unless @product.retired || @product.stock == 0 %>
  <%= form_tag('/orders/add') %>
  <%= label_tag :quantity %>
  <%= number_field_tag :quantity %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= submit_tag 'Add To Cart' %>
<% end %>

<br><br>
<%= link_to 'Back To Products', products_path %>
