<h2>Debug: <%= params.inspect %></h2>

<%= form_for @review do |f| %>
  <%= f.radio_button :rating, "1" %>
  <%= f.label :rating, "1" %>
  <%= f.radio_button :rating, "2" %>
  <%= f.label :rating, "2" %>
  <%= f.radio_button :rating, "3" %>
  <%= f.label :rating, "3" %>
  <%= f.radio_button :rating, "4" %>
  <%= f.label :rating, "4" %>
  <%= f.radio_button :rating, "5" %>
  <%= f.label :rating, "5" %>
  <br>

  <%= f.label :review_text, "Review:" %>
  <%= f.text_area :review_text %>
  <br>
  <%= submit_tag "Submit" %>

<% end %>