<!DOCTYPE html>
<html>
<head>
  <title>Scamazon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <div class='header'> 
    <%= link_to(image_tag('scamazon.png', :alt => "logo", :title => "Welcome"),"/") %>
    <div id= 'box_in_header'>
      <% if current_user.present? %>
        Hi there, <%= current_user.user_name.titleize %>
        <%= link_to "Sign Out", sessions_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign Up", :controller => "users", :action => "new" %>
        <%= link_to "Log In", :controller => "sessions", :action => "new" %>
      <% end %>
    <!-- <div class='cart_icon'> -->
      <div id= 'cart_icon'> <%= link_to(image_tag('empty_shopping_cart.png', :alt => "shopping cart", :title => "mmmm...shopping!"),"/cart") %>
      </div>
    </div>
  </div>
<div class='menu_bar'>
  <ul>
    <li><a href="/products">Products</a></li>
    <li><a href="/users/1">Profile</a></li>
    <li><a href="/reviews/new">Reviews</a></li>
    <li>
      <%= form_tag(products_path, method: :get) do %>
      <%= label_tag("Search for products:") %>
      <%= text_field_tag :search_product, params[:search_product] %>
      <%= submit_tag "Search", :name => nil %>
      <% end %>
    </li>
  </div>

    
  <%= flash[:notice] %>


<%= yield %>

<d


</body>
</html>
