<!DOCTYPE html>
<html>
  <head>
    <title>Scamazon</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class='header'>
      <%= link_to(image_tag('scamazon.png', :alt => "logo", :title => "Welcome"),"/") %>
      <div id= 'box_in_header'>
        <% if current_user.present? %>
          Hi there, <%= current_user.user_name.titleize %>
          <%= link_to "Sign Out", sessions_path, :method => :delete %>
        <% else %>
          <%= link_to "Sign Up", :controller => "users", :action => "new" %>
          <%= link_to "Log In", :controller => "sessions", :action => "new" %>
        <% end %>
        <%= link_to(image_tag('empty_shopping_cart.png', :alt => "shopping cart", :title => "mmmm...shopping!"),"/cart") %><a href='#' onclick='overlay()'>Cart</a>
      </div>
    </div>

    <div class='menu_bar'>
      <ul>
        <li><a href="/products">Products</a></li>
        <li><a href="/users/1">Profile</a></li>
        <li class="search">
          <%= form_tag(products_path, method: :get) do %>
          <%= label_tag("Search for products:") %>
          <%= text_field_tag :search_product, params[:search_product] %>
          <%= submit_tag "Search", :name => nil %>
          <% end %>
        </li>
      </ul>
    </div>
    <div class='container'>
      <div class='notice'>
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </div>
    <div id='footer'>
      <ul id='box_in_footer'>
        <li><a href='/about_us'>About Us</a></li>
        <li><a href='/faq'>FAQ</a></li>
        <li><a href='/return_policy'>Return Policy</a></li>
        <li><a href='http://amigoingtodie.org/'>Am I Going To Die?</a></li>
      </ul>
    </div>

    <div id="overlay">
     <div>
        <p>Content you want the user to see goes here.</p>
     </div>
    </div>

  </body>
</html>


