<!DOCTYPE html>
<html>
<head>
  <title>Scamazon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='header'> 
    <div id= 'logo'> <%= link_to(image_tag('scamazon.png', :alt => "logo", :title => "Welcome"),"/") %>
    <div id= 'box_in_header'>
      <% if current_user.present? %>
        Hi there, <%= current_user.user_name %>
        <button type="button"><%= link_to "Sign Out", {:controller=> "sessions", :action=> "destroy" }, :method => :destroy %></button>
      <% else %>
        <%= link_to "Sign Up", :controller => "users", :action => "new" %>
        <%= link_to "Log In", :controller => "sessions", :action => "new" %>
      <% end %>
    </div>
  </div>
  <div class="menu_bar">
    <a href="/products">Products</a>
    <a href="/users">Users</a>
    <a href="/reviews/new">Reviews</a>
    <a href="/orders">Orders</a>
    <a href="/cart">Cart</a>
  </div>

  <div class='container'>
    
    <%= flash[:notice] %>

<%= yield %>
  </div>
</body>
</html>
